body {
    margin: 0;
}

header {
    width: 100%;
    height: 70px;
    background-color: rgb(53, 53, 53);
}

p {
    margin: 0;
}

main {
    width: 100%;
    height: 635px;
    background-color: rgb(65, 65, 65);
}

main div {
    display: flex;
    flex-direction: column;
    height: 635px; 
    justify-content: center;
    align-items: center;
    padding: 0 220px;
}

tbody {
    color: rgb(194, 194, 194);
}

.novoAluno {
    width: 180px;
    height: 40px;
    font-size: 14px;
    color: rgb(218, 218, 218);
    border: 1px solid black;
    background-color: rgb(44, 44, 44);
}

.novoAluno:hover {
    background-color: rgb(49, 49, 49);
    transition: all 0.15s;
}

.novoAluno:active {
    background-color: rgb(33, 33, 33);
    border: 2px solid rgb(14, 14, 14);
}